* {
    box-sizing: border-box;
}

body {
    background-color: #93E9BE;
    font-size: calc(12px + (20 - 12) * (100vw - 320px) / (1600 - 320)); /* Fluid typography. Makes the text responsive with screen size */
}

h1 {
    color: #000;
    font-size: 2em;
    text-shadow: 2px 2px #6d6c6c;
}

h2 {
    color: #000;
    text-shadow: 2px 2px #6d6c6c;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: #000;
    font-size: .9em;
}

li {
    color: #000;
}

a {
    color: #000;
}

a:hover {
    color: #40e0d0;
}

a:active {
    color: #008080;
}

img {
    max-width: 100%;
    padding-bottom: 10px;
}